  <header>
  <div class="container profile-name-cover">
    {{#if randomPerson.coverPicture}}
      <img src = "images/background.jpg" class="cover-image"/>
    {{else}}
       <img src = "images/background.jpg" class="cover-image"/>
    {{/if}}
    <div class="row" align="center">
      <div class="col-md-4 col-md-push-4">
          {{#if randomPerson.profilePicture}}
            <img src= {{randomPerson.profilePicture}} class="profile-picture img-circle"/>
          {{else}}              
            <img src= "images/profile-default.jpg" class="profile-picture img-circle" id="myId"/>
          {{/if}}
      </div>
    </div>
    <div class="row" align="center">
      <div class="col-md-6 col-md-push-3">
        <h1>{{ randomPerson.firstName }} {{ randomPerson.lastName }}</h1>
      </div>
    </div>
  </div>
</header>