<div class="container push-down">
		{{!-- <p>hello</p> --}}
	{{!-- {{#each id}} --}}
	<div class="row">
		<h1>{{firstName}}</h1>
		<h1>{{firstName}}</h1>
		<h1>{{firstName}}</h1>
		<h1>{{firstName}}</h1>
		<h1>{{firstName}}</h1>
		<h1>{{firstName}}</h1>
{{!-- 			{{#each photos}}
				<div class="col-md-4">
					<a href="/photos/{{this.id}}"><img class="img-responsive thumbnail" src={{this.image_url}}/></a>
				</div>	
			{{/each}}
		</div> --}}
	</div>
	{{!-- {{/each}} --}}
</div>
